<h2>Choose a season</h2>

<ul>
    <li><button type="button">Spring</button></li>
    <li><button type="button">Summer</button></li>
    <li><button type="button">Fall</button></li>
    <li><button type="button">Winter</button></li>

</ul>

